[submodule "HW_Sem9/HW_Sem9/spring-cloud-config-server/CloudConfigServer/config-files"]
	path = HW_Sem9/HW_Sem9/spring-cloud-config-server/CloudConfigServer/config-files
	url = https://github.com/lpand4/springFrameworkHW
