H2 {
  color: #000080;
  font-size: 180%;
  font-family: Arial, Verdana, sans-serif;
  text-align: left;
}
P {
  font-size: 150%;
  padding-left: 20px;
}
td, th {
    font-size: 150%;
  border: 1px solid #999;
  padding: 0.5rem;
}
td{
    text-align: center;
}