<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta charset="UTF-8">
    <title>Добавление новой задачи</title>
</head>
<body id="demo">
<h1 class="demoFont">Добавление новой задачи</h1>
<form class="formFont" action="/tasks/new" method="post">
    Имя задачи: <input class="inputFont" type="text" name="name"><br />
    Описание: <input class="inputFont" type="text" name="description"><br />
    <button class="addbtn" type="submit">Добавить задачу</button>
</form>
</body>
</html>