<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/tasks/update}" th:object="${task}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>

    <label for="name">Название задачи</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Название задачи">
    <br/>

    <label for="description">Описание</label>
    <input type="text" th:field="*{description}" id="description" placeholder="Описание">
    <br/>
    <input type="submit" value="Обновить задачу">
</form>
</body>
</html>